.table, .overview_table {
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    border-style: none;
    text-align: center;
    display: block;
    width: 100%;
}

.overview_table {
    margin-top: 3%;
}

.close_table {
    position: absolute;
    top: 3%;
    right: 1%;
    background: white;
    border: none;
    cursor: pointer;
}

.table thead, .overview_table thead {
    background-color: gainsboro;
}

.table thead tr td, .table thead tr th, .table tbody tr td, .table tbody tr th, .overview_table thead tr td, .overview_table thead tr th, .overview_table tbody tr td, .overview_table tbody tr th {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    height: 37px;
}

.table_div {
    margin-left: 20%;
}

.table_control {
    margin-left: 20%;
}

.course_search {
    width: 20%;
    position: absolute;
    top: 25%;
    left: 50%;
    background-color: aliceblue;
    border-radius: 60px;
    padding-left: 2%;
    height: 5%;
    display: block;
}

.search_text {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.search_button {
    margin-left: 12%;
    margin-top: 1%;
    width: 12%;
    height: auto;
    padding-top: 1%;
    border: none;
    background-color: aliceblue;
}

.search_icon {
    width: 100%;
}

/* .save_button {
    display: none;
    color: black;
    text-align: center;
    font-size: 15px;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.next_course {
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
} */

.side_bar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    padding-top: 20px;
}

.side_bar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.side_bar a:hover {
    color: white;
}

.main_page {
    margin-left: 20%;
}

.course_list {
    list-style: none;
}

.course_unordered_list {
    margin-top: 25%;
    margin-left: 35%;
    width: 30%;
}

.course_list li {
    background-color: lightgray;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    display: block;
    margin: 5px;
    border-radius: 10px;
    padding-left: 5%;
}

.course_list li span {
    position: absolute;
    right: 29%;
    text-align: center;
}

.pop_up {
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.pop_up_results {
    width: 50%;
    height: 40%;
    transform: translate(15%, 0%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow-y: scroll;
    list-style-type: none;
}

.pop_up_results li {
    margin: 10px;
}

.pop_up_results button {
    position: absolute;
    top: 2%;
    right: 1%;
    background: white;
    border: none;
    cursor: pointer;
}

.clear_storage {
    cursor: pointer;
    font-size: 60px;
    margin-left: 32%;
    margin-top: -12%;
    position: absolute;
    color: grey;
}

.loading {
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.searching_load_screen {
    width: 20%;
    height: 5%;
    transform: translate(47%, -150%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.searching_load_screen button {
    color: red;
}

.filter, .exclude {
    cursor: pointer;
    position: relative;
    top: 40%;
    left: 10%;
    margin-left: 15%;
}

.pop_up_results div {
    margin-bottom: 2%;
}

.pop_up_results li {
    display: block;
    margin: 5px;
}

.table_in_table {
    margin-left: 18%;
}

.table_in_table table {
    border: 2px solid black;
    border-collapse: collapse;
}

.table_in_table table tr td {
    border: 1px solid black;
    padding: 10px;
}

.table_in_table table tr td table {
    cursor: pointer;
}

.course_view {
    float: left;
}

.course_view li {
    display: block;
    margin-bottom: 10%;
}

.schedule_zoom {
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.clicked_schedule {
    width: 50%;
    height: 100%;
    transform: translate(20%, 0%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow-y: scroll;
    list-style-type: none;
}
